/**********************************************************************
  
  Santiago, 10/06/2017.

  Página de estilos CSS para Evaluación Final del nivel "CSS y 
  Diseño Web Responsive" (CDWR_EF). 

  Consideraciones del autor:
  1.- En lo posible se trata de indicar la relación de cada regla o asigna-
      ción de propiedad con cada requerimiento solicitado por la evaluación.
  2.- Esta señalización o indicación empieza con título en mayúsculas que
      hace referencia a la parte de la evaluación en donde se especifica
      el requerimiento.
  3.- Hay reglas o asignación de propiedades que no son solicitadas en la 
      la evaluación y los criterios de uso de estas reglas pueden ser los
      siguientes:
        * Necesidad indirecta de requerimiento de la evaluación.
        * Visualización adecuada para el proyecto;
      Estas reglas o asignaciones se indican con título NSEF (Abreviatura
      de No Solicitado en la Evaluación Final). Estas asignaciones van
      siempre de último en cada regla.
  4.- En algunas propiedades se indican su propiedad correspondiente con
      prefijo (-webkit, -moz, -o, -ms, etc.) de proveedor de navegador 
      para aumentar la compatibilidad con la mayoría de los navegadores 
      web.

  Autor: Jorge Elieser Garrido Sejas;

**********************************************************************/

/***************** 1.- Consideraciones Generales *********************/
/* CONSIDERACIONES GENERALES. 
   1.- Utiliza la tipografía Dancing Script. */
@font-face {
    /* CONSIDERACIONES GENERALES.
       Importando la fuente para cumplir con el punto 1 de las
       consideraciones generales. */
    font-family: DancingScript;
    src: url("../fuentes/DancingScript-Regular.otf") format("opentype");
}

body {
  /* CONSIDERACIONES GENERALES. 
     2.- Establece el color de fondo negro #02010a. */
  background-color: #02010a;
  /* CONSIDERACIONES GENERALES. 
     1.- Se establece la fuente importada para cumplir con el 
         punto 1 de las consideraciones generales. */
  font-family: DancingScript;

  /* NSEF. Fuentes en toda la página de tamaño de 25px por defeto. */
  font-size: 25px;
}

/* CONSIDERACIONES GENERALES. 
   3.- Cada imagen tiene un efecto de sombra de 2px 
       con color #02010a. */
img {
  box-shadow: 2px 2px 2px #02010a;
}

/* CONSIDERACIONES GENERALES. 
   4.- Crea un div llamado contenido que este centrado y que tenga 
       máximo 900px de ancho para desktop y ocupará el 100% para 
       móviles.  
   5.- Utiliza media queries para manejar dos tamaños Desktop: con
       ancho de 900px o más y móvil con menos de 900px. */

/* CONSIDERACIONES GENERALES. 
   Se especifica media queries para cumplir con punto 5 de las
   consideraciones generasl. */
@media screen and (min-width: 900px) {
  .contenido {
    /* CONSIDERACIONES GENERALES. 
       Se señala ancho de 900px para cumplir con requerimiento del
       punto 4 de las consideraciones generales. */
    width: 900px;
    /* CONSIDERACIONES GENERALES. 
       Se especifica la siguiente propiedad con valores correspon-
       dientes para centrar el DIV contenedor y cumplir con el re-
       querimiento del punto 4 de las consideraciones generales. */
    margin: 0 auto;
  }

  header {
    /* NSEF.
       Se establece la altura del header de 60px por criterio estético 
       del usuario en versión para desktop. */
    height: 60px;
  }

  .cabecera_ttl {
    /* NSEF. 
       Se establece margen izquierdo de 15px por criterio estético. */
    margin-left: 15px;
  }

  .cabecera_nav {
    /* NSEF.
       Se establece el margen derecho a 15px para la versión de escritorio
       por criterio de estética del autor. */
    margin-right: 15px;
  }
}

/* CONSIDERACIONES GENERALES. 
   Se especifica media queries para cumplir con punto 5 de las
   consideraciones generales. */
@media screen and (max-width: 899px) {
  .contenido {
    /* CONSIDERACIONES GENERALES. 
       Se señala ancho de 100% para cumplir con requerimiento del
       punto 4 de las consideraciones generales. */
    width: 100%;
    margin: 0 auto;

    /* NSEF.
       Se establece a 300px el ancho mínimo del contenedor principal por 
       criterio estético del autor para móviles. */
    min-width: 300px;
  }

  .cabecera_ttl {
    /* CONSIDERACION FINAL.
       Solo para la versión móvil muestra centrado el menú y debajo del 
       título. */
    width: 100%;
    text-align: center;

    /* NSEF.
       Se establecen márgenes izquierdo por criterio de estética
       del autor para versión mobile. */
    margin-left: 0px;
  }

  .cabecera_nav {
    /* CONSIDERACION FINAL.
       Solo para la versión móvil muestra centrado el menú y debajo del 
       título. */
    width: 100%;
    text-align: center;

    /* NSEF.
       Se establecen márgenes derecho a 0px por criterio de estética
       del autor. */
    margin-right: 0px;
  }

  header {
    /* NSEF.
       Se establece altura de 120px de la sección de cabecera en versión 
       para móviles por criterio de estética del autor. */
    height: 120px;
    width: 100%;
  }

  nav {
    /* CONSIDERACION FINAL.
       Solo para la versión móvil muestra centrado el menú y debajo del 
       título. */
    text-align: center;
  } 
}


header {
  /* CABECERA. Establece el fondo de color #5b7989. */
  background-color:  #5b7989;
  /* CABECERA. Aplica bordes redondeados en las esquinas
     superiores a 10px. */
  border-radius: 10px 10px 0 0;

  /* NSEF. 
      Se establece ancho del header o cabecera por defecto al 100% del
      DIV contenedor. */
  width: 100%;

}

header span {
  /* CABECERA.  la letra debe tener una sombra de 2px de color
     #02010a. */
  text-shadow: 2px 2px 2px #02010a;

  /* NSEF. 
     Color de fuente blanco en el título de la cabecera. */
  color: white;
}

.cabecera_ttl {
  /* CABECERA. Se especifica propiedad "float: left" para cumplir con
     requerimiento de aliniear a la izquierda el título "Comenzando
     con la fotografía". */
  float: left;

  /* NSEF. 
     Se establece margen de 15px arriba por criterio estético. */
  margin-top: 15px;
}

.cabecera_nav {
  /* CABECERA. Se especifica propiedad "float: right" para cumplir con
     requerimiento de aliniear a la derecha el menú de navegación del
     sitio. */
  float: right;

  /* NSEF. 
     Se establece margen de 15px arriba y a la derecha por criterio
     estético. */
  margin-top: 15px;
}

#imagenes {
  /* NSEF. 
     Se ocupa todo el ancho disponible del contenedor para la sección  
     de las imágenes. */
  width:100%;
  /* NSEF. 
     También se centra esta sección. */
  margin 0 auto;
}

.imagen_central{
  /* IMAGEN CENTRAL. Establece como color de fondo #82c3a6. */
  background-color: #82c3a6;

  /* NSEF. 
     Se establece padding en la parte inferior del DIV de la imagen 
     central. */
  padding-bottom: 10px; 
}

.imagen_central img {
  /* CONSIDERACIONES GENERALES. 
     6.- Las imágenes deben ser responsivas. Se considera
         medida en porcentaje de ancho de imagen en la sección
         de la imagen central para cumplir con punto 6 de las
         consideraciones generales. */
  width: 90%;

  margin-top: 15px;
  /* IMAGEN CENTRAL.
     Centrando la imagen en la posición left determinada
     por el 5% que es la diferencia del ancho de la
     caja ancestro (position: relative) con la del tamaño
     de la imagen. */
  position: relative;
  left: 5%;
}

/* CABECERA.
   Nav Menu Activo: Enlaces del menú activo sin subrayado. */
.nma {
  /* CABECERA. La página actual debe tener estilo sin subrayado. */
  text-decoration-line: none;

  /* NSEF.
     Fuente en negrita para el enlace de la página actual en el 
     NavMenu. */
  font-weight: bold; 
}

.imagen_secundaria {
  /* IMAGEN SECUNDARIA.
     Esta sección es a dos columnas usando flex para desktop y
     una columna para móvil. */
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction:row;
  flex-wrap:wrap;

  /* IMAGEN SECUNDARIA.
     Aplica como color de fondo #d5c75f y un borde de 1px. */
  background-color:  #d5c75f;
  border-width: 1px;

  /*  NSEF.
      Centra el sistema Flexbox */
  justify-content: center;
  width: 100%;
}


.imagen_secundaria img {
  /* CONSIDERACIONES GENERALES. 
     6.- Las imágenes deben ser responsivas. Se considera
         medida en porcentaje de ancho de imagen en la sección
         de la imagen secundaria para cumplir con punto 6 de las
         consideraciones generales.*/
  width: 90%; 
  /* CONSIDERACIONES GENERALES. 
     También se especifica la propiedad  max-width para sa-
     tisfacer requerimiento de imágenes responsivas visual-
     mente correctas y cumplir con punto 6 de las considera-
     ciones generales. */
  max-width: 400px;

  /* IMAGEN SECUNDARIA. 
     Estableciendo transiciones para efectos animados de imágenes
     secundarias. Algunas propiedades se investigaron fuera del
     curso de NextU para proporcionar compatibilidad para mayoría
     de navegadores.*/
  -webkit-transition: all 100ms ease;
  -moz-transition:    all 100ms ease;
  -ms-transition:     all 100ms ease;
  transition:         all 100ms ease;

  /* IMAGEN SECUNDARIA.
     Agrega color de sombra #82c3a6 y borde 2px. Igual para imagen
     de paisaje y de retrato. */
  box-shadow: 2px 2px 5px #82c3a6;

  /* NSEF.
     Se establece asignaciones de propiedades decorativas al borde
     de cada imagen en el index.html. */
  border-width: 2px;
  border-style: solid;
  border-color: gray;
  
  /* NSEF.
     Margenes por criterio estético. */
  margin-top: 15px;
  margin-bottom: : 15px;

}

.imsec {
  /* IMAGEN SECUNDARIA.
     Cada columna debe tener una imagen centrada. La siguiente
     propiedad sirve para centrar cada imagen en las celdas del 
     sistema Flexbox. */
  text-align: center;
}


.is01:hover {
  /* IMAGEN SECUNDARIA.
     Aplica un efecto de rotación de 10 grados cuando se coloca 
     el puntero sobre ella (Imagen de paisajes ubicada a la 
     izquierda). Algunas propiedades se investigaron fuera del
     curso de NextU para proporcionar compatibilidad para mayoría
     de navegadores.*/
  -webkit-transform:  rotate(10deg);
  -moz-transform:     rotate(10deg);
  -ms-transform:      rotate(10deg);
  transform:          rotate(10deg);
}

.is02:hover {
  /* IMAGEN SECUNDARIA.
      aplica un efecto de traslación de 5px hacia arriba y 20px a 
      la derecha cuando se coloca el puntero del ratón sobre ella
      (imagen de retrato ubicada a la derecha). Algunas propiedades 
      se investigaron fuera del curso de NextU para proporcionar 
      compatibilidad para mayoría de navegadores.*/
  -webkit-transform:  translate(20px,-5px);
  -moz-transform:     translate(20px,-5px);
  -ms-transform:      translate(20px,-5px);
  transform:          translate(20px,-5px);

}

footer {
  /* PIE DE PAGINA.
     Aplica bordes redondeados en las esquinas inferiores a 10px. */
  border-radius: 0px 0px 10px 10px;

  /* PIEDE PAGINA.
     Aplica el color de fondo #C6d5c5. */
  background-color:  #C6d5c5;

  /* PIE DE PAGINA. 
     El pie debe estar a cuatro columnas en desktop y 
     una columna en móvil. */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  /* NSEF.
     Se disminuye un poco el tamaño de fuente para la sección footer por
     criterio estético del autor. */
  font-size: 0.6em;
  width: 100%;
}

footer div {
  /* NSEF.
     Se asignan anchura mínima, anchura relativa y márgenes moderados a cada
     columna en el pié de página por criterio estético del autor. */
  min-width: 200px;
  width: 23%;
  margin-left: 2px;
  margin-right: 2px;
}

footer img {
  /* NSEF.
     Se  quita la sombra en las imágenes de los logotipos de las redes
     sociales ya que la combra venía por defecto desde la etiqueta IMG
     global. */
  box-shadow: 0px 0px 0px #02010a;
}

/************************** Parámetros para GALERIA. *************************/
.galeria {
  /* GALERIA.
     La galería debe mostraste en tres columnas para desktop y en una para
     móvil. Las siguientes propiedades contínuas establecen la configuración
     base del flex para mostrar las columnas necesarias en el caso de móviles
     o desktop. Algunas poropiedades como justify-content se investigaron 
     fuera de NextU para simplicidad de desarrollo. */
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
  /* NSEF.
     Se indica el mismo color que la sección de imágenes del index.html para
     la galería de imágenes. Se asume por criterio estético del autor. */
  background-color:  #d5c75f;

  /* NSEF.
     Se agrega espacio por  padding por criterio estético del autor. */
  padding-top: 15px;
}

.glr_item img{
  /* GALERIA.
     Estableciendo las 2 siguientes propiedades se logra que el flexbox de 
     la galería se comporte según requerimiento solicitado para la evaluación
     de 3 columnas en desktop y 1 para móviles. */
  min-width: 225px;
  max-width: 280px;
}

.glr_itm01 img {
  /* GALERIA.
     Las siguientes propiedades establecen el efecto blur en 10px para la
     imagen 1 de la galería satisfaciendo el requerimiento de efectos en 
     la galería de imágenes. Se agregan propiedades con prefijos para 
     aumentar compatibildad con navegadores web.*/
  -webkit-filter: blur(10px);
  -moz-filter:    blur(10px);
  -o-filter:      blur(10px);
  -ms-filter:     blur(10px);
  filter:         blur(10px);
}

.glr_itm02 img {
  /* GALERIA.
     Las siguientes propiedades establecen el efecto grayscale en 60% para
     la imagen 2 de la galería satisfaciendo el requerimiento de efectos en 
     la galería de imágenes. Se agregan propiedades con prefijos para 
     aumentar compatibildad con navegadores web. */
  -webkit-filter: grayscale(60%); 
  -moz-filter:    grayscale(60%);
  -o-filter:      grayscale(60%);
  -ms-filter:     grayscale(60%);
  filter:         grayscale(60%); 
}

.glr_itm03 img {
  /* GALERIA.
     Las siguientes propiedades establecen el efecto sepia en 90% para
     la imagen 3 de la galería satisfaciendo el requerimiento de efectos en 
     la galería de imágenes. Se agregan propiedades con prefijos para 
     aumentar compatibildad con navegadores web.*/
  -webkit-filter: sepia(90%);
  -moz-filter:    sepia(90%);
  -o-filter:      sepia(90%);
  -ms-filter:     sepia(90%);
  filter:         sepia(90%);
}

.glr_itm04 img {
  /* GALERIA.
     Las siguientes propiedades establecen el efecto grayscale en 80% para
     la imagen 4 de la galería satisfaciendo el requerimiento de efectos en 
     la galería de imágenes. Se agregan propiedades con prefijos para 
     aumentar compatibildad con navegadores web.*/
  -webkit-filter: grayscale(80%); 
  -moz-filter:    grayscale(80%);
  -o-filter:      grayscale(80%);
  -ms-filter:     grayscale(80%);
  filter: grayscale(80%); 
}

.glr_itm06 img {
  /* GALERIA.
     Las siguientes propiedades establecen el efecto grayscale en 80% para
     la imagen 6 de la galería satisfaciendo el requerimiento de efectos en 
     la galería de imágenes. Se agregan propiedades con prefijos para 
     aumentar compatibildad con navegadores web.*/
  -webkit-filter: grayscale(100%); 
  -moz-filter:    grayscale(100%);
  -o-filter:      grayscale(100%);
  -ms-filter:     grayscale(100%);
  filter:         grayscale(100%); 
}

/***************************** CONSIDERACION FINAL ***************************/
/****************** Animación SlideIn del contenedor principal ***************/
/* Se agregan diferentes prefijos a propiedad keyframes para aumentar la
  compatilibilidad con la mayoria de los navegadores web. */
@-webkit-keyframes MCSlideInAnim {
  0% { margin-top: 150%; }
  60% { margin-top: -5%; }
  100% {margin-top: 0%;  }
}
@-moz-keyframes MCSlideInAnim {
  0% { margin-top: 150%; }
  60% { margin-top: -5%; }
  100% {margin-top: 0%;  }
}
@-o-keyframes MCSlideInAnim {
  0% { margin-top: 150%; }
  60% { margin-top: -5%; }
  100% {margin-top: 0%;  }
}

@-ms-keyframes MCSlideInAnim {
  0% { margin-top: 150%; }
  60% { margin-top: -5%; }
  100% {margin-top: 0%;  }
}

@keyframes MCSlideInAnim {
  0% { margin-top: 150%; }
  60% { margin-top: -5%; }
  100% {margin-top: 0%;  }
}

/* Se registra la animación en el contenedor principal. */
.contenido {
  -webkit-animation: MCSlideInAnim 1s;
  -moz-animation:    MCSlideInAnim 1s;
  -o-animation:      MCSlideInAnim 1s;
  -ms-animation:     MCSlideInAnim 1s;
  animation:         MCSlideInAnim 1s;
}

